body, html, #root {
  height: 100%;
  color: white;
}

.row {
  padding-top: 50px;
}

.App {
  text-align: center;
  background-image: url(./background.png);
  background-position: center center !important;
  background-size: cover;
  overflow: auto;
  height: 100%;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  padding: 30px;
  height: 13vh;
}
/*
.App-header {
  height: 150px;
  padding-top: 20px;
}*/

.App-intro {
  font-size: large;
}

.title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: -20px;
}
.subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;

}

.pre-embed {
  font-size: 15px;
  padding: 30px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Metropolis';
}



.element {
  height:1000px;
  background-color: #ededed;
  font-size: 45px;
  border-top:1px solid #000;
  padding-top:55px;
  padding-left:10px;
}

.active {
  color:red !important;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  top: 0; right: 0; bottom: 0; left: 0;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { position: absolute; top: 50%; right: 50%; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 1000px;  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.btn { 
  color: #2729DB; 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
  border-width: .2em;
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
} 
 
.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  color: #FFFFFF; 
  background-color: transparent; 
  border-color: #FFFFFF; 
} 
 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  background-image: none; 
} 
 
.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn, 
.btn.disabled:hover, 
.btn[disabled]:hover, 
fieldset[disabled] .btn:hover, 
.btn.disabled:focus, 
.btn[disabled]:focus, 
fieldset[disabled] .btn:focus, 
.btn.disabled:active, 
.btn[disabled]:active, 
fieldset[disabled] .btn:active, 
.btn.disabled.active, 
.btn[disabled].active, 
fieldset[disabled] .btn.active { 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
} 
 
.btn .badge { 
  color: #FFFFFF; 
  background-color: #2729DB; 
}

.post-embed {
  padding-top: 30px;
  font-weight: bold;
}

h5 {
  padding-bottom: 200px;
}


